{% zone "Header" %}
<!-- Header -->
<header class="masthead">
    <div class="container">       
        <div class="col-lg-12 text-center">
            <h1 class="text-primary">Orchard Core</h2>
            <h2 class="text-primary">ASP.NET open-source, modular and multi-tenant application framework and CMS</h2>
            <h3 class="section-subheading text-muted">
                <a class="btn btn-xl btn-primary m-3" href="https://try.orchardcore.net" target="_blank">Try Orchard</a></h3>
        </div>
    </div>
</header>
{% if Model.ContentItem.Content.Services.ContentItems.size > 0 %}
<section class="page-section" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Features</h2>
                <h3 class="section-subheading text-muted">List the main concepts and features.</h3>
            </div>
        </div>
        <div class="row text-center">
            {% for service in Model.ContentItem.Content.Services.ContentItems %}
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa {{ service.Service.IconClass.Text }} fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">{{ service.TitlePart.Title }}</h4>
                <p class="text-muted">{{ service.HtmlBodyPart.Body | raw }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}

<section class="page-section" id="getting-started">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Getting Started</h2>
                    <h3 class="section-subheading text-muted">Find the resources you need to make you productive</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <a class="fa-stack fa-4x" href="https://docs.orchardcore.net/">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </a>
                    <h4 class="service-heading">Documentation</h4>
                    <p class="text-muted">Browse the documentation.</p>
                </div>
                <div class="col-md-4">
                    <a class="fa-stack fa-4x" href="https://crowdin.com/project/orchard-core">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-language fa-stack-1x fa-inverse"></i>
                    </a>
                    <h4 class="service-heading">Localization</h4>
                    <p class="text-muted">Translate your application.</p>
                </div>
                <div class="col-md-4">
                    <a class="fa-stack fa-4x" href="/discord">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-ambulance fa-stack-1x fa-inverse"></i>
                    </a>
                    <h4 class="service-heading">Forum</h4>
                    <p class="text-muted">Exchange with our friendly community.</p>
                </div>
                <div class="col-md-4">
                    <a class="fa-stack fa-4x" href="https://github.com/OrchardCMS/OrchardCore">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                    </a>
                    <h4 class="service-heading">Source</h4>
                    <p class="text-muted">Explore the source code.</p>
                </div>
                <div class="col-md-4">
                    <a class="fa-stack fa-4x" href="https://github.com/OrchardCMS/OrchardCore/releases">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-download fa-stack-1x fa-inverse"></i>
                    </a>
                    <h4 class="service-heading">Download</h4>
                    <p class="text-muted">Download the latest version.</p>
                </div>
                <div class="col-md-4">
                    <a class="fa-stack fa-4x" href="https://orchardcore.net/meeting">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </a>
                    <h4 class="service-heading">Podcast</h4>
                    <p class="text-muted">Join our public podcast every Tuesday at 12pm PT.</p>
                </div>
            </div>
        </div>
    </section>
{% if Model.ContentItem.Content.Portfolio.ContentItems.size > 0 %}
<section class="page-section bg-secondary" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-primary">Portfolio</h2>
                <h3 class="section-subheading text-dark">Some examples of websites proudly created using Orchard Core.</h3>
            </div>
        </div>
        <div class="row">
            {% for project in Model.ContentItem.Content.Portfolio.ContentItems %}
            <div class="col-md-6 col-sm-6 portfolio-item">
                <div class="portfolio-link" data-toggle="modal" href="#portfolioModal{{ forloop.index }}">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <a class="portfolio-link" href="{{ project.Project.URL.Url }}" target="_blank">
                    <img class="img-fluid" src="{{ project.Project.Image.Paths.first | asset_url | resize_url: width:480, height: 240, mode: 'stretch' }}" alt="{{ project.TitlePart.Title }}">
                    </a>
                </div>
                <div class="portfolio-caption">
                    <h4 class="text-primary">{{ project.TitlePart.Title }}</h4>
                    <p class="text-primary text-muted">{{ project.Project.Category.Text }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-subheading text-dark my-3">Do you want to see more examples of Orchard Core sites built by the community? Check out <a class="text-dark" href="https://showorchard.com">Show Orchard</a>.</h3>
            </div>
        </div>
    </div>
</section>
{% endif %}

<section class="page-section" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Features</h2>
                    <h3 class="section-subheading text-muted">What makes Orchard special?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-images fa-stack-1x fa-inverse"></i>                                    
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Media Management</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Define custom media types and add custom metadata like taxonomies, copyright, author information and more.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-language fa-stack-1x fa-inverse"></i>
                                </span>                            
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Multi-Lingual</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The content can be translated in any language, and elements of information can also be shared across languages.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
                                </span>                            
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Modular</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Every feature is a module which can be enabled, disabled or replaced. If you don't like what you see you can replace it with your own feature.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Multi-Tenant</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A single installation lets you manage multiple sites. The notion of <i>Recipe</i> lets you write reusable websites templates.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <span class="fa-stack fa-4x">
                                    <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Security</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Define roles and permissions for all your users. Track changes and see the history of your content.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Workflows</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Create content workflow or react to events.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
	<section class="page-section bg-secondary py-5" id="partners">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-primary">Partners</h2>
                    <h3 class="section-subheading text-dark">Nothing can be achieved alone</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6  mx-auto">
                    <a href="https://dotnetfoundation.org">
                        <img class="img-fluid d-block mx-auto" src="media/logos/dotnetfoundation_v4_small.png?width=100" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 mx-auto">
                    <a href="https://dotnest.com">
                        <img class="img-fluid d-block mx-auto" src="media/logos/dotnest-thumb.png" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 mx-auto">
                    <a href="https://orcharddojo.net/">
                        <img class="img-fluid d-block mx-auto" src="media/logos/dojo-logo-thumb.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endzone %}